@using KartSpace.Web.Models.Events
@using KartSpace.Web.Models.Common.Modals
@model EventModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditEvent")))
<form name="EventEditForm" event="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Event.Id" />
    <div class="modal-body">
        <div class="tab-content mt-4">
                        <div role="tabpanel" class="tab-pane container active" id="create-event-details">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Title")</label>
                                <div class="col-md-9">
                                    <input asp-for="Event.Title" type="text" class="form-control" name="Title" required>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Description")</label>
                                <div class="col-md-9">
                                    <input asp-for="Event.Description" type="text" class="form-control" name="Description" required>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("Category")</label>
                                <div class="col-md-9">
                                    <input asp-for="Event.Category" type="text" class="form-control" name="Category" required>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label">@L("StartTime")</label>
                                <div class="col-md-9">
                                    <div class='input-group date' id="EStartTime">
                                        <input asp-for="Event.StartTime" name="StartTime" type="text" class="form-control" required"/>
                                        <span class="input-group-addon input-group-text input-group-append">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">@L("EndTime")</label>
                                <div class="col-md-9">
                                    <div class='input-group date' id="EEndTime">
                                        <input asp-for="Event.EndTime" name="Endtime" type="text" class="form-control"/>
                                        <span class="input-group-addon input-group-text input-group-append">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Events/_EditModal.js" asp-append-version="true"></script>
