@using KartSpace.Web.Models.Merchandise
@using KartSpace.Web.Models.Common.Modals
@using KartSpace.Merchandise
@model MerchModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditMerch")))
<form name="MerchEditForm" event="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Merch.Id" />
    <div class="modal-body">
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="create-merch-details">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">@L("Name")</label>
                    <div class="col-md-9">
                        <input asp-for="Merch.Name" type="text" class="form-control" name="Name" required>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">@L("Description")</label>
                    <div class="col-md-9">
                        <input asp-for="Merch.Description" type="text" class="form-control" name="Description" required>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">@L("Category")</label>
                    <div class="col-md-9">
                        <select asp-for="Merch.Category" asp-items="@Html.GetEnumSelectList<TipMerch>()" id="Category" name="Category" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">@L("Price")</label>
                    <div class="col-md-9">
                        <input asp-for="Merch.Price" type="text" class="form-control" name="Price" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Merchandise/_EditModal.js" asp-append-version="true"></script>
